<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg"><p class="font-weight-bold"><span>Kontaktinformasjon</span></p>
                <ul class="list-unstyled">
                    <li>Creeact AS</li>
                    <li>Ervika, Stadlandet</li>
                    <li><a href="mailto:post@bazeat.com" class="footer-link">post@bazeat.com</a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold">Bazeat</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/about"><span>Om oss</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/contactus"><span>Kontakt oss</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/terms"><span>Salgsvilkår</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/privacy"><span>Personvern</span></a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold"><span>Hvordan fungerer det?</span></p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/HowDoesItWorkBuyer"><span>Jeg er kjøper</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/HowDoesItWorkProducer"><span>Jeg er produsent</span></a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold"><span>Utforsk</span></p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/bazeatproducers"><span>Våre produsenter</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/search/products"><span>Våre produkter</span></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom d-flex flex-column align-items-center flex-lg-row justify-content-lg-between">
            <div class="d-flex flex-column flex-lg-row align-items-md-center mb-2 mb-lg-0"><img
                    src="/images/new-design/logo-white.svg" class="footer-logo mb-2 mb-lg-0 mr-lg-4">© Creeact
                AS
            </div>
            <div>
              <a href="https://www.instagram.com/bazeat.no" class="no-hover mr-2"><img
                      src="/images/new-design/icons/insta-social-icon.svg" class="social-icon"></a>
              <a href="https://www.facebook.com/bazeat" class="no-hover mr-2"><img
                    src="/images/new-design/icons/facebook-social-icon.svg" class="social-icon"></a>

                  </div>
        </div>
    </div>
</footer>
