<footer class="mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-lg"><p class="font-weight-bold"><span>Contact information</span></p>
                <ul class="list-unstyled">
                    <li>Creeact AS</li>
                    <li>Ervika, Stadlandet</li>
                    <li><a href="mailto:info@bazeat.com" class="footer-link">info@bazeat.com</a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold">Bazeat</p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/about"><span>About Bazeat</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/contactus"><span>Contact us</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/terms"><span>Terms of use</span></a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold"><span>User</span></p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/howdoesitwork"><span>How does it work?</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/terms"><span>Terms</span></a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold"><span>Producer</span></p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/howdoesitwork"><span>How does it work?</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/terms"><span>Terms</span></a></li>
                </ul>
            </div>
            <div class="col-lg"><p class="font-weight-bold"><span>Driver</span></p>
                <ul class="list-unstyled">
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/howdoesitwork"><span>How does it work?</span></a></li>
                    <li><a class="footer-link" href="{{ $.Site.Params.baseSiteURL }}/terms"><span>Terms</span></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom d-flex flex-column align-items-center flex-lg-row justify-content-lg-between">
            <div class="d-flex flex-column flex-lg-row align-items-md-center mb-2 mb-lg-0"><img
                    src="/images/new-design/logo-white.svg" class="footer-logo mb-2 mb-lg-0 mr-lg-4">© Creeact
                AS
            </div>
            <div><a href="https://www.facebook.com/bazeat" class="no-hover mr-2"><img
                    src="/images/new-design/icons/facebook-social-icon.svg" class="social-icon"></a></div>
        </div>
    </div>
</footer>
