{{ define "main" }}

<div class="root-container">
    <div style="position: relative;">
        <img src="{{ .Params.featuredimg }}" alt="{{ .Title }}" style="width: 100%; height:400px; object-fit:cover; object-position: 0px 0px">
        <div class="single-blog-header-bottom">
            <small class="single-blog-date">
                {{ .Date.Format "02/01/2006" }}
            </small>
            <p class="single-blog-title">
                {{ .Title }}
            </p>
        </div>
    </div>

    <div style="padding: 10px; font-size: 20px; line-height: 25px; margin: 6% 25%;">
    {{ .Content }}
    <br />
    <br />
    <a href="javascript:history.back()">< Tilbake</a>
    </div>

</div>
{{ end }}
