{{ define "main" }}

<div id="app-container">
    <div class="page-wrapper d-flex flex-column">
        <header class="main-header">
            <nav class="navbar navbar-expand-lg navbar-light py-3"><a class="navbar-brand mb-2" href="/"><img
                    src="/images/new-design/text-logo.svg" alt="Bazeat logo" class="text-logo"></a>
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse"
                        data-target=".navbar-content"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse justify-content-end navbar-content">
                    <ul class="navbar-nav">
                        <li class="nav-item mr-lg-4 nav-item-separator d-lg-none"><a class="nav-link header-link"
                                                                                     href="/"><span>Home</span></a></li>
                        <li class="nav-item mr-lg-4 d-flex align-items-center"><a class="nav-link header-link" href="/"><span>Home</span></a>
                        </li>
                        <li class="nav-item mr-lg-4 d-flex align-items-center"><a class="nav-link header-link" href="/"><span>Blog</span></a>
                        </li>
                        <li class="nav-item mr-lg-4 d-flex align-items-center"><a class="nav-link header-link" href="#"><span>Find a producer near me</span></a>
                        </li>
                        <li class="nav-item mr-lg-4 d-lg-none nav-item-separator"><a
                                class="nav-link header-link cta-nav-link" href="#"><span>Sign up</span></a></li>
                        <li class="nav-item mr-lg-4 d-none d-lg-flex align-items-center"><a
                                class="btn btn--brand btn--wide" href="/register"><span>Sign up</span></a></li>
                        <li class="nav-item d-flex align-items-center"><a class="nav-link header-link"
                                                                          href="/login"><span>Log in</span></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div>
            <div class="container-fluid blog-header"></div>
            <div class="container blog-page-container">
                <div class="col"><h1 class="text-center blog-page-title">Blog</h1></div>
                <div>
                    <div>
                        <small class="text-muted blog-card-horizontal-date">12. mars 2018</small>
                        <div class="card mb-4 box-shadow">
                            <div class="row">
                                <div class="col-md-6 horizontal-card-image"><img
                                        src="/images/new-design/blog1.png" class="blog-card-horizontal-img">
                                </div>
                                <div class="col-md-6 blog-card-horizontal-container">
                                    <div class="card-body"><h4 class="card-title blog-card-horizontal-title">Nydelige
                                        sjokoladetrøflar. Fizzy, appelsin, chrispy og ren sjokolade og blåbærgelé </h4>
                                        <p class="card-text blog-card-horizontal-txt">Blomkål frå Lærdal blir dyrka på
                                            mineralrike jord som gjev ein frisk og god smak, og er rik på vitamin C og
                                            kostfiber, og B-vitamin og kalium. Blomkål har mange bruksområde som frisk
                                            snacks, i tradisjonell blomkålsuppe. Deilig…</p>
                                        <div><a class="btn float-right blog-card-horizontal-btn">Read more &gt;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <small class="text-muted blog-card-horizontal-date">12. mars 2018</small>
                        <div class="card mb-4 box-shadow">
                            <div class="row">
                                <div class="col-md-6 center"><img src="../../../images/new-design/blog2.png"
                                                                  class="blog-card-horizontal-img"></div>
                                <div class="col-md-6 blog-card-horizontal-container-white">
                                    <div class="card-body"><h4 class="card-title blog-card-horizontal-title-white">
                                        Nydelige sjokoladetrøflar. Fizzy, appelsin, chrispy og ren sjokolade og
                                        blåbærgelé </h4>
                                        <p class="card-text blog-card-horizontal-txt-white">Blomkål frå Lærdal blir
                                            dyrka på mineralrike jord som gjev ein frisk og god smak, og er rik på
                                            vitamin C og kostfiber, og B-vitamin og kalium. Blomkål har mange
                                            bruksområde som frisk snacks, i tradisjonell blomkålsuppe. Deilig…</p>
                                        <div><a class="btn float-right blog-card-horizontal-btn-white">Read more
                                            &gt;</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<h1>Hugo with Gulp, PostCSS and Webpack</h1>-->

<!--<p>-->
<!--Hooray 🎉 - you've built this with <a href="https://github.com/netlify/victor-hugo">Victor-Hugo</a>!-->
<!--</p>-->

{{end}}
