{{ define "main" }}
        <div class="root-container">
            <div style="position: relative;">
            <div class="container-fluid blog-header"></div>
            <div class="container blog-page-container">
                {{ $paginator := .Paginate (where .Pages "Type" "post") 3}}
                <div>

                {{ range $index,$element := $paginator.Pages }}

                    {{ if (eq $index 0) }}
                        {{ template "partials/card.html" . }}
                    {{ else }}
                        {{ template "partials/card-secondary.html" . }}
                    {{ end }}

                {{ end }}
                {{ template "partials/pagination.html" . }}

                </div>
            </div>
            </div>
        </div>
{{end}}
